body {
    background-image: url("BackgroundImage.png");
    width:220px;
    height:350px;
        
   }

.dsc{
    position: absolute;
    width: 190px;
    height: 30px;
    left: 0px;
    top: 170px;
    

    font-family: "PT Sans Caption";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;

    text-align: center;
    padding: 5px;
    margin: 20px;
    background-color:rgba(100, 106, 160, 0.41);

    color: #FFFFFF;
}


.button{
    position: absolute;
    width: 90px;
    height: 40px;

    left: 75px;
    top: 250px;
    
    padding: 0;
    border: none;
    background: none;

    font-size: 13px;
    font-weight:bold;
    color:white;


    background: rgba(0, 26, 255, 0.38);
    border-radius: 40px;
}

.title{
    position: absolute;
    left: 70px;
    top: 315px;
    
    font-family: "PT Sans Caption";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color:rgba(100,106,160,0.85);
}