@font-face {
    font-family: 'Open Sans';
    src: url(OpenSans-Regular.ttf);
  }
body {
    background: #CCFFF9;
}

#captions {
    position: absolute;
    width: 1440px;
    height: 82px;
    left: 5px;
    margin-top:0px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    
    color: #000000;


}

.button{
    position: absolute;
    width: 100px;
    height: 50px;
    
    right: 0px;
    top: 170px;
    padding: 10px;
    margin-right: 10px;
    
    border: none;
    background: none;

    font-size: 13px;
    font-weight:bold;
    color:white;


    background: rgba(0, 26, 255, 0.38);
    border-radius: 40px;
}